{% load i18n %}
{% load django_tables2 %}

<p>
{% with name=service.title parent_name=service.parent.title %}
    {% if service.is_child %}

        {% if creating %}
            {% if service.title %}
                {% blocktrans %}
                    Created service variant '{{ name }}'.
                {% endblocktrans %}
            {% else %}
                {% blocktrans %}
                    Created variant of '{{ parent_name }}'.
                {% endblocktrans %}
            {% endif %}
        {% else %}
            {% if service.title %}
                {% blocktrans %}
                    Updated service variant '{{ name }}'.
                {% endblocktrans %}
            {% else %}
                {% blocktrans %}
                    Updated a variant of '{{ parent_name }}'.
                {% endblocktrans %}
            {% endif %}
        {% endif %}

    {% else %}

        {% if creating %}
            {% blocktrans %}
                Created service '{{ name }}'.
            {% endblocktrans %}
        {% else %}
            {% blocktrans %}
                Updated service '{{ name }}'.
            {% endblocktrans %}
        {% endif %}

    {% endif %}
{% endwith %}

</p>

<p>
    <a href="{% url 'dashboard:catalogue-service' pk=service.pk %}{% querystring %}" class="btn btn-success">{% trans "Edit again" %}</a>
    <a href="{{ service.get_absolute_url }}" class="btn btn-success">{% trans "View it on the site" %}</a>
</p>
